*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#111;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
}

h1{
    margin-bottom:30px;
}

button{
    padding:12px 25px;
    background:#e50914;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    background:#b20710;
}